@{
    ViewData["Title"] = "Home Page";
}

@section styles{
<link rel="stylesheet" href="~/css/landing-page.css">
}

<div class="landing">
    <div class="content">
        <h1>Ministers of Sweden Database</h1>
        <h2>For more information about all the ministers, all in one place!</h2>
        <p></p>
    </div>
</div>